@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #14131a;
}

.hide::-webkit-scrollbar{
  width: 0px;
}

.background-img{
  background-image: url('../img/bg-image.jpg');

}